<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title></title>
  <!--Style-->
      <link rel="stylesheet" type="text/css" href="../static/styleIndex.css" />  <!--For Modifying-->
      <link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Sofia">  
  </head>
  <body>
      <div class="banner-area">
          <div class="content-area">
             <div class="content">
                <h1>File Transfer</h1>
                
                <p>By Team SCT</p>
                <button class="btn">
                    <a href="/server" style="color: white;text-decoration:none;">Send</a>
                </button>
                <button class="btn">
                  <a href="/reciever" style="color: white;text-decoration:none;">Receive</a>
              </button>
  
             </div>
          </div>
      </div>
  </html>
